
.header {
    margin: 32px 390px;
    text-align: center;
}
.header_in {
    text-align: center;
    margin: 0px 65px;
    text-decoration: none;
    font-family: ﻿Courier;
    font-size: 18pt;
    color: #16a085;
}
.img {
    background-image: url("../img/top-img.png");
    background-size: cover;
    opacity: 0.8;
;
}
.text {
    text-align: center;
    font-size: 22pt;
    font-family: ﻿Courier;
    margin: 30px 220px;
}
.button {
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    padding: 23px 45px;
    background-color: #16a085;
    border-radius: 10px;
    font-family: ﻿AdobeInvisFont;
}
.copyright {
    margin: 140px 0px 45px 768px;
    text-align: right;
}