.body {
    margin: 0 auto;
}

.LI {
    display: inline-block;
    list-style-type: none;;
    margin: 40px;
}
.LIA {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18pt;
    color: #16a085;
}
.nav {
    text-align: center;
}
.img {
    width: 100%;

}
.text {
/*margin: 0 20%;*/
    padding: 20px 20%;
    text-align: center;
    background-color: lightgrey;
    font-size: 22px;
    font-family: sans-serif;
}
.abutton {
    display: block;
    margin: 0 auto;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    background-color: #16a085;
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    margin: 25px auto;
    padding: 15px;
    width: 160px;
}
.copyright {
    display: block;
    text-align: right;
    margin: 30px 400px;
    font-family: sans-serif;
    font-size: 20px;
}
/*.textcenter {*/
/*    display: block;*/
/*    text-align: center;*/